@model Inventory.ViewModels.Sale.SalesPrintViewModel

@{
    Layout = null;
}
<html>
<head>
    <title>
        Invoice
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .invoice-container {
            width: 25%;
            margin-left: 0;
        }

        .invoice-table {
            width: 100%;
        }
        body{
            font-size:12px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <strong style="font-size: 20px;" class="text-center">Sales Invoice</strong><br/><br/>
            Bill No : @Model.SaleId<br />
            Date : @Model.nepaliDate @Model.date.ToString("hh:mm tt")<br />
            Customer : <strong>@Model.CustomerName</strong><br/>
            <div class="invoice-container">

            <table class="table invoice-table">
                <thead>
                    <tr>
                        <th>Particular</th>
                        @* <th>Unit</th> *@
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.SalesDetails)
                    {
                        <tr>
                            <td>@data.ItemName per @data.Unit</td>
                            @* <td>@data.Unit</td> *@
                            <td>@data.Qty</td>
                            <td>@data.Price</td>
                            <td>@Math.Round(data.Total, 2)</td>
                        </tr>
                    }
                </tbody>
            </table>

            </div>
            Total Amount : @Model.total<br />
            Discount : @Model.discount
            <hr />
            Grand Total : @Model.netTotal
            <hr />
            Paid Amount : @Model.paidAmount<br />
            Return Amount : @Model.returnAmount
            <hr />
            Due Amount : @Model.dueAmount
        </div>
    </div>

    <script>
        window.onload = function () { window.print(); }
    </script>
</body>
</html>
